
* {
margin:0;
padding:0;

}

body {
  font-family: "Courier New";
  text-align: center;
}

#container {
  width: 100%;
  height: 100%;
  
}

.description {
  margin: 0 25% 5% 25%;
}


.name {
  font-size: 6vw;
  width: inherit;
}

#contact {
  padding-bottom: 10%;
}

a {
  font-size: 2vw;
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  padding: 3%;
  font: 1vw;
}

.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.projects-container {
  padding-top: 50px;
}

.projects-container .small {
  width: 50%;
  margin: 0 25% 10% 25%;
}