
* {
margin:0;
padding:0;
}

body {
font-family: 'Montserrat Alternates', serif;
}

#container {
  width: 100%;
  height: 100%;
  
}

 header {
  color: red;
  font-size: 3vw !important;
  text-align: center !important;
  width: 50% !important;
  margin: 5% 25% 0% 25% !important;
  padding: 0 1% 0 1% !important;
  position: absolute; !important;
  top: 45% !important;
}


h1 {
  font-size: 10vw;
}

#white {
  padding-right: 2% !important;
  color: white;
  text-align: right !important;
}

#black {
 padding-left: 2%;
}

.upper {
 display: inline-block;
 width: 49.5%;
 padding-bottom: 20%;
}

.lower {
  display: inline-block;
  width: 24.35%;
  padding-bottom: 2%;

}

.lower .black:hover {
  background-color: white;
}
.lower .white:hover {
  background-color: black;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}
.circle {
  width: 84%;
  padding-bottom: 35%;
  border-radius: 100%;
  margin-left: 8%;
  margin-top: 8%;
}

.nav {
  display: block;
  margin: 0 auto;
/*  padding-top: 35%;
*/  color: red;
  padding: 35% 5% 0% 5%;
}


#contact {
 width: 80% !important;
}

#about {
  
  width: 60% !important;
}

#blog {
  width: 45% !important;
}

#projects {
  width: 75% !important;
}


a {
  color: red;
  font-size: 4vw;
  text-decoration: none;
}

.fa:hover {
  color: white;
}


#icons {
float: both;
background-color: red;
height: 25%;
width: 100%;
}

#icons p {
  float: both;
  width: 15%;
  display: inline-block;
  padding: 2% 4.5% 2% 4.5%;
}

p a{
  color: black;

}

footer {
  text-align: center;
  padding: 1%;
  font: 2wv;
  }


@media only screen and (orientation: portrait){
header {
  top: 60% !important;
 }

 .upper {
 display: inline-block;
 width: 49.5%;
 padding-bottom: 50%;
 padding-top: 30%;
}

.lower {
  width: 24%;
}

#white {
  padding-top: 10%;
}

#black {
 padding-top: 10%;
}

#icons {
height: 35%;
}

}