body {
font-family: 'Lobster', cursive;
background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #43D6D2),
  color-stop(1, #D45EFF)
);
background-image: -o-linear-gradient(bottom, #43D6D2 0%, #D45EFF 100%);
background-image: -moz-linear-gradient(bottom, #43D6D2 0%, #D45EFF 100%);
background-image: -webkit-linear-gradient(bottom, #43D6D2 0%, #D45EFF 100%);
background-image: -ms-linear-gradient(bottom, #43D6D2 0%, #D45EFF 100%);
background-image: linear-gradient(to bottom, #43D6D2 0%, #D45EFF 100%);
}

header img {
  max-width: 25%;
  float: left;
  margin: 5%;
}

header {
  color: #6E0CE8;
  font-size: 2em;
  border: .5em solid #0DA5FF;
  border-radius: 1em;
  text-align: center;
  max-width: 60%;
  float: right;
  margin: 6%;
  padding: 0 1% 0 1%;
}
#indexheader p {
  color: black;
}

nav {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
float: left;
width: 15%;
margin: 5% 0 0 5%;
}

a:hover {
  color: white;
}

ul {
 list-style-type: none;
}

li {
  display: block;
  padding: 8% 0 8% 0;
}

#icons {
width: 60%;
clear: both;
}

.fa {
  display: inline;
  padding: 4%;
float: right;
}

footer {
  font-family: 'Lobster', cursive;
   position: fixed;
   right: 2%;
   bottom:2%;
  }


section h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 10%;
}

#about p {
  width: 60%;
  margin: auto;
  text-align: left;
  font-size: 1.25em;
}


#contact p, a {
  display: block;
  margin: 5% 0 0 20%;
  font-size: 1.25em;
}

#projects p {
  display: block;
  margin: 10% 0 0 20%;
  font-size: 1.25em;
}

#blog a {
  display: block;
  margin: 10% 0 0 20%;
  font-size: 1.25em;
}

@media screen only (max-width: 960px){
header {
  width: 80%;
  margin: auto;
  float: none;
}
header img {
  width: 80%;
  margin: auto;
}
nav {
  clear: both;
  width: 80%;
  margin: auto;
  float: none;
}
li {
  display: block;
  padding: 2% 0 2% 0;
}
}

